:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex; 
  justify-content: center;
  gap: 6em;
  text-align: left;
}
p {
  margin: 0;
}
.straight-heading {
  margin: 0;
  display: inline;
  padding-right: 11.9%
}
.sideways-heading {
  margin: 0;
  display: inline;
  padding-right: .95em;
}
input {
  width: 1.8em;
  border-radius: 4px;
  font-size: 1em;
  padding-left: 5px;
}
.red-text {
  color: red;
}
.green-text {
  color: green;
}
.blue-text {
  color: rgb(111, 116, 241);
}
.brown-text {
  color: rgb(181, 140, 82)
}
/* add a media-query for mobile devices below 600px */
@media (max-width: 600px) {
  :root {
    font-size: 1.3em;
  }
  .container {
    flex-wrap: wrap;
    gap: 1.5em;
  }
  input {
    font-size: .9em;
    width: 2.2em;
  }
}